<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Senac Pic</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
      <div class="row">
       <foto-app *ngFor="let f of fotos" [url]="f.url" [title]="f.title" [descricao]="f.descricao"></foto-app>
      </div>
    </div>
  </body>
</html>
