<fieldset>
  <legend>Cadastro de Fotos</legend>
  <form>
    <div class="form-group">
      <label for="idTitulo">Titulo</label>
      <input id="idTitulo" type="text" class="form-control" placeholder="Informe o titulo">
    </div>
    <div class="form-group">
      <label for="idTituloAlt">Titulo Alternativo</label>
      <input id="idTituloAlt" type="text" class="form-control" placeholder="Informe o titulo alternativo">
    </div>
    <div class="form-group">
      <label for="idDescricao">Descrição</label>
      <input id="idDescricao" type="text" class="form-control" placeholder="Informe a descrição">
    </div>
    <div class="form-group">
      <label for="idURL">URL</label>
      <input id="idURL" type="url" class="form-control" placeholder="Informe a URL">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-dark">Registrar</button>
    </div>
  </form>
</fieldset>