<fieldset>
  <legend>Cadastro de Fotos</legend>
  <form>
    <div class="form-group">
      <label for="idtitulo">Titulo</label>
      <input id="idtitulo" type="text" class="form-control" placeholder="blablabla">
    </div>
    <div class="form-group">
      <label for="idtituloalt">Titulo Alternativo</label>
      <input id="idtituloalt" type="text" class="form-control" placeholder="blablabla">
    </div>
    <div class="form-group">
      <label for="iddescricao">Descrição</label>
      <input id="iddescricao" type="text" class="form-control" placeholder="blablabla">
    </div>
    <div class="form-group">
      <label for="idurl">URL</label>
      <input id="idurl" type="url" class="form-control" placeholder="blablabla">
    </div>
    <div>
      <button type="submit" class="btn btn-dark">Registrar</button>
    </div>
  </form>
</fieldset>